.table td,
.table th {
    padding: 8px !important;
}

.table th {
    text-align: center !important;
    border-right: solid 1px #e9ecef !important;
}

.table th:last-child {
    border-right: none !important;
}

.table td:first-child,
.table td:nth-child(2) {
    /* text-align: left; */
}

.table td:last-child {
    border-right: none !important;
}

.table tfoot th {
    border-right: none !important;
}

.table td {
    border-right: solid 1px #e9ecef !important;
}

.dataTables_info,
.dataTables_length {
    padding-left: 25px;
}

.dataTables_filter,
.dataTables_paginate {
    padding-right: 25px;
}

.dataTables_info,
.dataTables_paginate {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.dataTables_wrapper {
    font-size: 12px;
}
